<!DOCTYPE HTML>
<html lang ='tr'>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    <h1>Hoşgeldin {{isim}} </h1><br>
    {% load static %}
    <img src="{% static "/images/pp.jpg" %}" alt="image"><br>    
        <form onsubmit="kaydet()">
            {% for sorular in sorularim%}
                {{sorular.id}}.  {{sorular.soru_icerik}} <br>
                <input type="radio" name="puan5" value="5"> Çok İyi
                <input type="radio" name="puan4" value="4"> İyi
                <input type="radio" name="puan3" value="3"> Orta
                <input type="radio" name="puan2" value="2"> Kötü
                <input type="radio" name="puan1" value="1"> Çok Kötü <br>
            {% endfor %}
            <input type="submit" name="Kaydet">
        </form>
    </div>
    <div class="col">
    </div>
  </div>
</body>
</html>