{% include "anket-tema\head.html" %}
{% load static %}
    <nav>
    <div class="col-sm-6" style="align:top;">
    </div>
        <br><br><br><br><br><br>
        <div class="container-fluid">
        <div class="row">
        <form method="POST">
            {% csrf_token %}
           
            {{form.as_p}}
            
            
             <!---
            {% for field in form %}
            <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} 
            {{ field }}
            {{ field.values }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            </div>
            {% endfor %}
            <br>
            -->
            <button type="submit" class="btn btn-danger"> Kaydet </button>
        </form>
             <!--
                {%block content%}
                <form method="post" action="">
             
                {{ form.errors }}
                {{ form.non_field_errors }}
                {{form.as_p}}
                 {% csrf_token %}
                
                <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                {% endblock %}
            -->
            </div>
        </div>        

    </nav>
{% include "anket-tema\footer.html" %}