{% include "anket-tema\head.html" %}
{% load static %}

<script>
{{ prueba}}
 console.log(ty);
</script>

    <nav>
    <div class="col-sm-6" style="align:top;">
    </div>
        <br><br><br><br><br><br>
        <div class="container-fluid">
        <div class="row">
        <form method="POST">
        {% for soru in form.anket.anket_soru_id.all %}
        <h3>{{ soru.soru_icerik}}</h3>
            <fieldset>
            {% for cevap in form.choices %}
            <p><input type="radio" name={{soru.id}} value={{cevap.0}}>{{cevap.1}}</input></p>
            {% endfor %}
            </fieldset>
        {% endfor %}
        <br>
        <br>
        <button type="submit" class="btn btn-danger"> Kaydet </button>
        </form>
            </div>
        </div>        

    </nav>
{% include "anket-tema\footer.html" %}