{% include "anket-tema/head.html" %}
{% load static %}

  <header class="masthead bg-primary text-white text-center">
    
    <div>

      <!-- Masthead Avatar Image -->
      <img src={% static "img/anket/slider.jpg" %} alt=""  width="50%">

      <!-- Masthead Heading 
      <h1 class="masthead-heading text-uppercase mb-0">Benipuanla.net</h1>
      -->
      <!-- Icon Divider
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      -->
      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Hızlı - Güvenilir - Gizli</p>

    </div>
  </header>

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/1.png" %} alt="">
            <p><b>Beklentiyi karşılayan ve iyi yapılan bir işle ilgili olumlu geri bildirim motive edicidir, performansı ve iş kalitesini artırır, dolayısıyla işin beklentiyi karşılama oranını yükseltir.</b></p>
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/2.png" %} alt="">
            <p><b>Verilen geri bildirimler, freelancera potansiyel becerilerini geliştirme imkânı verir.</b></p>
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/5.png" %} alt="">
            <p><b>Geri bildirim; yapılan işi geliştirir, yapılacak olan işlere katkı sağlar.</b></p>
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/3.jpg" %} alt="">
            <p><b>Etkili bir geri bildirim projedeki hata oranını azaltır.</b></p>
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/4.jpg" %} alt="">
            <p><b>Doğru yapılmış bir geri bildirim, alıcı ve freelancer arasında iletişimin kalitesini artırır, iş verimini yükseltir, işin kalitesi artar.</b></p>
          </div>
        </div>

        <!-- Portfolio Item 6 --> 
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <!--
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
              -->
            </div>
            <img class="img-fluid" src={% static "img/anket/0.jpg" %} alt="">
            <p><b>Geri bildirim insanları eleştirmeden hatalarını yumuşak bir tonda ifade ederek , özeleştiril bakış açısı geliştirir.</b></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">Hakkımızda</h2>
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-lg-4"></div>
        <div class="col-sm-4 col-lg-4">
          <p><b>Binlerce çalışanlarınız olsa bile, çalışanlarınız arasındaki bütün verileri toplayarak;</b>
          <p><b>* KİMİN  tebrik edilmesi gereken personel ve müdür olduğunu buluyoruz.</b>
          <p><b>* KİMİN  masa başında hediyeyi hak ettiğini araştırıyoruz.</b>
          <p><b>* KİMİN  etkileşiminin daha iyi olduğunu biliyoruz.</b>
          <p><b>* KİMİN zinciri büyük olan şirketlerdeki etkileşimin, iyi olduğunu ortaya çıkarıyoruz.</b>
          <p><b>* KİMİN Firma DNA sına uygun olmadığını buluyoruz.</b>
        </div>
        <div class="col-sm-4 col-lg-4"></div>
        </div>
         <div class="row">
         <div class="col-sm-4 col-lg-4"></div>
         <div class="col-sm-4 col-lg-4">
         <p class="lead">
          BUNUN İÇİN ZAMAN KAVRAMINI VERİ YE DÖNÜŞTÜRÜYORUZ.
          </div>        
          <div class="col-sm-4 col-lg-4"></div>
          </div>
      </div>
      <!-- About Section Button 
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light">
          <i class="fas fa-download mr-2"></i>
          Free Download!
        </a>
      </div>-->

  </section>


{% include "anket-tema/footer.html" %}