{% include "anket-tema/head.html" %}
{% load static %}
<br><br>
  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <br>
      <br>
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bağımsız Makaleler</h2>
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
      <h3>1-) Geri Bildirim Doğru Yapıldığında Motivasyonu Artırır</h3>
      <br>
      <br>
      <iframe src={% static "pdf/geri-bildirim-motivasyon.pdf" %} width="100%" height="500px">
      </iframe>
      <h3>2-) Geri Bildirimle Motivasyonu Artırın</h3>
      <br>
      <br>
      <iframe src={% static "pdf/geri-bildirim-ile-motivasyon-arttır.pdf" %} width="100%" height="500px">
      </iframe>
      <h3>3-) İletişimde Geri Bildirim Ve Geri Bildirimin Önemi</h3>
      <br>
      <br>
      <iframe src={% static "pdf/geri-bildirim-iletisim.pdf" %} width="100%" height="500px">
      </iframe>
      <h3>4-) Geri Bildirimle Performansınızı Artırın</h3>
      <br>
      <br>
      <iframe src={% static "pdf/geri-bildirim-performans.pdf" %} width="100%" height="500px">
      </iframe>
      <h3>5-) İyi Bir Geri Bildirimle Motivasyonları Artırın</h3>
      <br>
      <br>
      <iframe src={% static "pdf/iyi-bir-geri-bildirim.pdf" %} width="100%" height="500px">
      </iframe>
      </div>

    </div>
  </section>
  

{% include "anket-tema/footer.html" %}